<div class="meun-wrap">
  <ul>
    <li [ngClass]='{isActive:isActive==1}' >
      <img src="../../assets/img/icon_1.png" alt="">
    </li>
    <li [ngClass]='{isActive:isActive==2}'>
      <img src="../../assets/img/icon_2.png" alt="">
    </li>
    <li [ngClass]='{isActive:isActive==3}'>
      <img src="../../assets/img/icon_3.png" alt="">
    </li>
    <li [ngClass]='{isActive:isActive==4}' (click)="goChart()">
      <img src="../../assets/img/icon_4.png" alt="">
    </li>
    <li [ngClass]='{isActive:isActive==5}'>
      <img src="../../assets/img/icon_5.png" alt="">
    </li>
    <li [ngClass]='{isActive:isActive==6}'>
      <img src="../../assets/img/icon_6.png" alt="">
    </li>
    <li [ngClass]='{isActive:isActive==7}'>
      <img src="../../assets/img/icon_7.png" alt="">
    </li>
    <li [ngClass]='{isActive:isActive==8}'>
      <img src="../../assets/img/icon_8.png" alt="">
    </li>
  </ul>
</div>